*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f5f7fb;
}

a{
    text-decoration:none;
}

button{
    border:none;
}

input{
    outline:none;
}

img{
    max-width:100%;
}